<div class="friend-node-container">
  <div class="friend-node-background"></div>
  <div class="friend-node-content">
    <div class="friend-list-node-name"><%=relevant_node[:name]%></div>

    <fb:profile-pic uid="<%=relevant_node[:id]%>" size="square" class="friend-list-node-profile-pic" linked="false"></fb:profile-pic>
  </div>
</div>