/*
HTTP Host: b.static.ak.fbcdn.net
Generated: October 26th 2010 7:02:33 PM PDT
Machine: 10.138.17.184
*/

body.external{background:transparent none repeat scroll 0 0;margin:0;padding:0}
.wallkit_frame .inputsubmit-disabled{background-color:#fff;border-bottom:1px solid #999;border-right:1px solid #999;color:#666}
.wallkit_frame .pager{overflow:hidden;text-align:right;padding-bottom:10px}
.wallkit_post{margin:10px 10px 5px 0;padding-bottom:5px;border-bottom:1px solid #d8dfea}
.wallkit_post .wallkit_profilepic{position:absolute
width:50px}
.wallkit_post .wallkit_postcontent{margin-left:50px;padding-left:10px}
.wallkit_post .wallkit_postcontent h4{padding:0 5px 3px 0;font-weight:normal}
.wallkit_post .wallkit_postcontent h4 .wall_time{margin-left:1px;font-size:9px;padding:2px 0 0 4px;color:#808080}
.wallkit_post .wallkit_postcontent h4 .time{display:none}
.wallkit_post .wallkit_postcontent h4 a{font-weight:bold}
.wallkit_post .wallkit_postcontent div{padding:3px 0}
.wallkit_post .wallkit_profilepic img{display:block;float:left}
.wallkit_post div.wallkit_actionset{font-size:9px;padding-bottom:3px}
.wallkit_title{font-size:16px;font-weight:bold;overflow:hidden}
.wallkit_title div.title_left{float:left}
.wallkit_subtitle{padding:3px 5px 2px 0;font-size:11px;font-weight:normal}
.wallkit_form{padding:5px 10px 5px 0}
.wallkit_form .editsettings{float:right;margin:5px}
.wallkit_form .inputtext{display:block;margin:5px 0 5px 0}
.wallkit_form .inputsubmit{margin:0 5px 0 0;display:inline}
.wallkit_form div.text_spacer{padding-right:8px}
.wallkit_form textarea{overflow:hidden;display:inline;height:44px;padding:3px;margin-top:5px;width:100%}
.wallkit_form .toggleform{text-align:center;margin:5px 0;padding-left:10px;padding-right:18px}
.wallkit_form .login{text-align:center;margin:5px 0}
.wallkit_form .hidden{display:none}
.wallkit_form .hidden textarea{display:none}
.wallkit_form .hidden .inputsubmit{display:none}
.wallkit_form div.loading_page{position:absolute;padding-top:60px;margin-left:19px}
.wallkit_form div.pic_hidden{padding-top:10px}
.wallkit_form div.profile_pic{position:absolute}
.wallkit_form .composer{padding:0 0 0 55px;background:transparent none repeat scroll 0 0;border:0}
.wallkit_form div.connect_area{margin:5px}
.wallkit_form div.connect_area div.nameemail{float:left}
.wallkit_form div.connect_area div.or{float:left;font-size:13pt;font-weight:bold;padding:15px 30px}
.wallkit_form div.connect_button_text .hint_text{display:inline}
.wallkit_form div.connect_button_text .anon{display:block;width:169px}
.wallkit_form div.connect_area div.connect_button_text{float:left}
.wallkit_form div.connect_area div.connect_button_text .connect_button{margin:5px 10px 5px 0;vertical-align:middle}
.wallkit_form div.post_area{float:right;padding:5px 0 0 0}
.wallkit_form div.post_area .uiButton{margin:0 0 0 10px}
.wallkit_form div.post_area div.connected{display:inline}
.wallkit_form .show_not_connected div.post_area div.connected{display:none}
.wallkit_form div.post_button{margin:10px}
.wallkit_form .show_connected .connect_area{display:none}
.wallkit_form .show_connected .not_connected{display:none}
.wallkit_form .show_not_connected .connected{display:none}
.wallkit_subtitle .subtitle_left{float:left;overflow:visible;width:150px}
.wallkit_subtitle .pager{float:right}
.wallkit_subtitle .post_counter{float:right;margin:0 5px}
.wallkit_subtitle .subtitle_action{display:inline;float:right}
div.wallkit_subtitle div.subtitle_right .left{float:right}
.wallkit_subtitle span.pipe{float:right}
.wallkit_form .wall_captcha{margin:0 5px;padding-bottom:8px}
.wallkit_form .wall_captcha #captcha{text-align:left}
.wallkit_form .wall_captcha #captcha h3{font-size:11px;font-weight:bold}
.wallkit_form .UIContentBox .wall_captcha #captcha h3{float:left;background:#f7f7f7;padding-right:5px;margin-bottom:5px}
.wallkit_form .wall_captcha #captcha .divider{border-bottom:solid 1px #ccc;display:block;margin-bottom:5px;padding-top:2px}
.wallkit_form .UIContentBox .wall_captcha #captcha .divider{line-height:1px;margin-bottom:10px;padding-top:0;height:10px}
.wallkit_form .wall_captcha #captcha fieldset{text-align:left;width:auto;min-width:0;margin-left:2px}
.wallkit_form .wall_captcha #captcha #captcha_response{border:1px solid #bdc7d8;padding:3px}
.wallkit_form .wall_captcha #captcha #captcha_whatsthis{display:none}
.wallkit_form .wall_captcha #captcha .captcha_optout{display:none}
.wallkit_form .wall_captcha #captcha .captcha_challenge{padding:5px 0}
.wallkit_form .wall_captcha #captcha .captcha_challenge .recaptcha_text{width:300px}
.wallkit_form .wall_captcha #captcha .captcha_challenge #recaptcha_image{margin:5px 0 0 0}
.mu-connect-disable-logout .logout{display:none}
div.hidden{display:none}
.auto_resize_iframe input.inputcancel{margin-left:10px}

#bootloader_css_bwgy0uih1y8g8cgo_pkg_css { height: 42px; }