<%= render :partial => "/root/css" %>

<div class="root">
  <div class="box content-box content-box-long">
    <%=image_tag("root/news_0.png")%>
    </div>

  <div class="fb-like-box content-box">
    <fb:like-box href="http://www.facebook.com/apps/application.php?id=133668973356228"
                 width="226"
                 height="212"
                 connections="3"
                 stream="false"
                 header="true">
    </fb:like-box>
  </div>
</div>